<html lang='en-us'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node.js Blog.</title>
    </head>
    <body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Node.js Blog Site</h1></a>
            <p>A Shaan Singh Project</p>
        </div>
        <ul>
            <li><a href="/">homePage</a></li>
            <li><a href="/about">aboutPage</a></li>
            <li><a href="/blogs/create">newBlog</a></li>
        </ul>
    </nav>

    <div class="not-found content">
        Oops, page not found!
    </div>

    </body>
    </html>