<html lang='en-us'>
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Me</h2>
        <p>I'm making this page so I can learn Node.js, feel free to add a blog after reading this.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

    </body>
    </html>